# ========================
# ARQUIVOS DE SISTEMA / IDE
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# BACKEND (PYTHON)
# ========================
# Ambiente Virtual (Onde instalamos as libs)
backend/venv/
backend/.venv/
venv/

# Bytecode compilado (Arquivos temporários do Python)
backend/__pycache__/
*.py[cod]

# Variáveis de Ambiente (SENHAS - Nunca enviar!)
backend/.env
backend/.env.*

# Banco de Dados Vetorial (Gerado pelo ingest.py)
# É pesado e gerado localmente, não deve ir para o git
backend/chroma_db/

# Dados (PDFs)
# Se quiser salvar os PDFs no Git, apague a linha abaixo.
# Se forem muitos ou pesados, mantenha ignorado.
backend/data/

# ========================
# FRONTEND (REACT/NODE)
# ========================
# Dependências do Node (Isso aqui tem 200mb+, JAMAIS envie)
frontend/node_modules/

# Pasta de Build (Gerada quando for colocar no ar)
frontend/dist/

# Logs de erro do npm
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Arquivos de ambiente local do frontend
frontend/.env.local

#Arquivos vite
frontend/.vite

# ambiente virtual python
.venv/
venv/

# cache python
__pycache__/
*.pyc

# vscode
.vscode/

# variaveis de ambiente
.env

# ========================
# ARQUIVOS GERADOS (NÃO COMMITAR)
# ========================
*.log
*.db
*.sqlite
*.sqlite3
saida_teste.html
