# Pacotes do LLM e API
# Usamos == para travar a versão exatamente
groq==0.11.0
python-dotenv==1.0.1

# Pacotes LlamaIndex
llama-index-core==0.11.0
llama-index-llms-groq==0.2.0

# Pacotes de Leitura de Dados (PDFs)
# Pacote específico para ler arquivos PDF
pypdf==4.2.0
# Pacote específico para o SimpleDirectoryReader
llama-index-readers-file

# Pacotes para o Embedding Model Local (HuggingFace)
llama-index-embeddings-huggingface
sentence-transformers
torch

#API server
fastapi
uvicorn

# Banco de Dados Vetorial
chromadb
llama-index-vector-stores-chroma

#biblioteca nova para o Reranking (que ajuda o robô a escolher os melhores trechos do PDF)
llama-index-postprocessor-colbert-rerank